NEXT_PUBLIC_SUPABASE_URL=https://xxshnhsmblnxxsszjeml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wBgojnwPpXTHRaeoD28Y-g_JpFXCwP9
NEXT_PUBLIC_SITE_URL=https://bjelectronics.shop
NEXT_PUBLIC_ADMIN_EMAIL=admin@bjelectronics.com
NEXT_PUBLIC_ADMIN_ACCESS_CODE=replace-with-your-admin-access-code
